<div layout="column" style="height: 100%" ng-cloak>
    <section layout="row" flex>
        <md-sidenav flex="10" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
            <md-content flex layout-padding>
                <h1>Problem Name</h1>
                <p>Lorem ipsum</p>
            </md-content>
        </md-sidenav>
        <md-content flex="90" layout-padding>
            <div layout="column" layout-fill layout-align="top center">
                <div ui-ace="{
                  workerPath: 'node_modules/ace-webapp/src-min-noconflict',
                  mode: 'java'
                 }" ng-trim="true"></div>
            </div>
        </md-content>
    </section>
</div>