@import "node_modules/normalize.css/normalize.css";
@import "node_modules/angular-material/angular-material.css";
@import "node_modules/highlight.js/styles/solarized-light.css";

.ace_editor {
    height: 100%;
    width: 100%;
}

.md-button.md-fab md-icon {
    color: #212121;
}

#fab {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) {
    color: black;
}