@import "node_modules/normalize.css/normalize.css";
@import "node_modules/angular-material/angular-material.css";

.ace_editor {
    height: 100%;
    width: 100%;
}

.md-button.md-fab md-icon {
    color: #212121;
}

#fab {
    position: fixed;
    bottom: 25px;
    right: 25px;
}